venv/
.venv
roles/
contexts/
kubeconfs/
.DS_Store

# Inventory files (except templates and examples)
hosts.ini
hosts_proxmox.ini

*tar.gz
*.log
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.swp
*.bak
*.orig
push-to-github.sh
*.pem

lxc_map.yml
